<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/qwertyuiopppp/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="qwertyuiopppp" />
            <add key="ClearTextPassword" value="b883b71dedf0685581975d1a97a5f88ab58bd8d4" />
        </github>
    </packageSourceCredentials>
</configuration>